// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=32V0u0kw0HJjOM-pAJuGLuXHfnV */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #00D741;	// Main Primary color */
$color-primary-1: #56E180;
$color-primary-2: #2CDB61;
$color-primary-3: #00B637;
$color-primary-4: #008D2B;

$color-secondary-1-0: #FF8100;	// Main Secondary color (1) */
$color-secondary-1-1: #FFB161;
$color-secondary-1-2: #FF9A33;
$color-secondary-1-3: #F77C00;
$color-secondary-1-4: #BE6000;

$color-secondary-2-0: #E70069;	// Main Secondary color (2) */
$color-secondary-2-1: #ED5A9D;
$color-secondary-2-2: #E92F83;
$color-secondary-2-3: #CF005E;
$color-secondary-2-4: #A00049;

$font-family : "Open Sans", sans-serif;